@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rakkas&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body{
  background-image: url(./image/Background-img.png);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 0;
 
  background-color: #60534E;
  cursor: url(./image/curso.gif);
}

@media screen and(max-width:650px) {
 
}

.linksNav{
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  transition: 0.2s;
}

.linksNav:hover{

  color:rgba(245, 222, 179, 0.687);
  /* color: #faf3d793; */
}